html, body{
    height:100%;
}

body{
    background-color:#fbfbf9 !important;
}

.height-100{
    height:100%;
}

.views {
    height: calc(100% - 137px);
    padding-top: 20px;
    padding-bottom: 20px;
}

 .inner-page{
     height:100%;
     background:white;
 }

.top-nav-container {
    background-color: rgb(185, 12, 6);
    color: white;
    height: 26px;
}

.center-block{
    float:none !important;
}

.text-aligh-right{
        text-align: right;
}

.text-aligh-right a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    cursor:pointer;
}

    .text-aligh-right a:hover {
        color:#ccc;
    }

.no-padding{
    padding : 0 !important;
}

.float-left{
    float:left;
}

.menu-bar{
    margin-top:15px;
    min-height:95px;
    background:white;
}

.menu-bar img{
    width:90px;
}

.nav-bar-buttons{
    margin-top: 45px;
}

    .nav-bar-buttons a {
        height: 40px;
        line-height: 40px;
        text-align: center;
        color: black;
        cursor: pointer;
        font-family: "Open Sans", sans-serif;
        text-decoration: none;
        font-size: 18px;
    }

    .nav-bar-buttons a:hover{
            border-bottom: 2px solid rgb(185, 12, 6);
            background:#dcdcdc;
    }

    .nav-bar-buttons .active{
            border-bottom: 2px solid rgb(185, 12, 6);
            background: #dcdcdc;
    }

    .top-nav-container form{
        float:right !important;
    }
    .top-nav-container form a{
         margin-left: 5px;
    }
   

 /* Small devices (tablets, 768px and up) */
@media (max-width: 1200px) {
    .nav-bar-buttons a {
        font-size: 15px !important;
    }
}