
@{
    Layout = null;
}

<div ng-controller="CalendarController as cc" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 center-block height-100">
    <div class="inner-page">
        <div id="calendar-holder" class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div id="calendar"></div>
        </div>
    </div>
</div>

<script>
    

</script>