
@{
    Layout = null;
}

<div ng-controller="CalendarController as cc" class="col-xs-12 col-sm-12 col-md-9 col-lg-9 center-block height-100">
    <div class="inner-page">{{cc.calendarPage}}</div>
</div>